@{
    ViewBag.Title = "Home";
}

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Photography by <span>Eric Woods</span></h1>
                <h2>Feel free to browse all the photos.</h2>
                <p> Register or sign in to make/ manage your very own photo album!</p>

                <div class="btns">
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    
                </div>
            </div>
          

        </div>
    </div>
</section><!-- End Hero -->